body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

button{
  outline: none;
  border: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  min-height: 100vh;
}

.app-container.dark-mode{
  background-color: rgb(2, 6, 24);
}

.app-container.light-mode{
  background-color: #FFF;
}
